<nav>
    <ul>
      <li><a href="/" style="color: #F20530"><strong>kaypoh usefully</strong></a></li>
    </ul>
    <ul>
      <li><a href="/landing1" style="color: #000000;">account</a></li>
      </li><a href="/about" style="color: #0367A6;">key info</a></li>
      <li><a href="/locations" style="color: #038C65;">key locations</a></li>

    </ul>
</nav>