<nav>
    <ul>
      <li><a href="/"><strong>kaypoh usefully</strong></a></li>
    </ul>
    <ul>
      <li><a href="/about">key information</a></li>
      <!-- <li><a href="https://techup.live" target="_blank">🔗 TechUp Live</a></li> -->
    </ul>
</nav>