<nav>
    <ul>
      <li><a href="/" style="color: #F24405"><strong>kaypoh usefully</strong></a></li>
    </ul>
    <ul>
      <li><a href="/about" style="color: #F2B705;">key info</a></li>
      <li><a href="/locations" style="color: #F2B705;">key locations</a></li>
    </ul>
</nav>