<nav>
    <ul>
      <li><strong>kaypoh usefully</strong></li>
    </ul>
    <ul>
      <li><a href="/about">ℹ Key information</a></li>
      <li><a href="https://techup.live" target="_blank">🔗 TechUp Live</a></li>
    </ul>
</nav>