

.button {
    background-color: #2F405C; /* Desired background color */
    color: white; /* Text color */
}

.newbutton {
    background-color: #F29F05; /* Desired background color */
    border: none;
    color: white; /* Text color */
}

.newbutton:hover {
    background-color: hsl(349, 96%, 48%); /* Change colour on hover */
}

.filter-buttons button {
    background-color: #F2B807; /* Desired button color */
    border: none;
    color: white; /* Text color */
    padding: 5px;
    font-size: 13px;
}

.filter-buttons button:hover {
    background-color: #D96248; /* Change colour on hover */
}

.welcome-container {
    text-align: center;
    
    margin-top: 50px;
    margin-bottom: 50px;
}

.new-post-btn-container{
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.post-container {
    max-width: 800px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.about-container {
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.about-container > img{
    margin-bottom: 40px;
}

.location-container {
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.cancel-create-post {
    text-align: center;
}
