<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key locations</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Information about the about page -->
        <div class="welcome-container">
            <h1>key locations</h1>
        </div>

        <div class="location-container">
            <h3>GP</h3>
            <p>Doctor's name: Dr Paul Chang</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127640.74192726177!2d103.65140724335936!3d1.3114652000000073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1b794a30cdf7%3A0x7b3c4faac177842b!2sRegis%20Medical%20(Holland%20Village)!5e0!3m2!1sen!2ssg!4v1716438703720!5m2!1sen!2ssg" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    
        <div class="location-container">
            <h3>Specialist 1</h3>
            <p>Doctor's name: Dr Leslie Koh</p>
            <p>Room: Usually L7, Room 2</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63819.59272761658!2d103.7651660216797!3d1.3416367999999943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da17e0473257a5%3A0xda3811fd33478789!2sDr%20Leslie%20Koh%20-%20Nose%2C%20Sinus%20%26%20ENT%20Specialist%20Singapore%20(Mt.%20Alvernia)!5e0!3m2!1sen!2ssg!4v1716438854353!5m2!1sen!2ssg" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="location-container">
            <h3>Specialist 2</h3>
            <p>Doctor's name: Dr Tang Tjun Yip</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.779295565721!2d103.8176262793457!3d1.3076257000000162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1b3664c4f5fb%3A0x42cd764403c05f19!2sThe%20Vascular%20and%20Endovascular%20Clinic!5e0!3m2!1sen!2ssg!4v1716439053643!5m2!1sen!2ssg" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </main>
</body>
</html>


</html>
