<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Create a new post headline -->
        <div class="welcome-container">
            <h1>Today's update</h1>
        </div>

        <!-- Form to submit a new post -->
        <div class="create-post-container">
            <form method="post">
                <fieldset>
                  <label>
                    Appointment date
                    <!-- <input type="apptdate" placeholder="Today's date"/> -->
                    <input type="date" name="apptdate" class="datestyle" required>
                  </label>
                </fieldset>

                  <label>
                    Doctor
                    <!-- <textarea name="doctortype" placeholder="Who did you see?" ></textarea> -->
                    <select id="doctortype" name="doctortype">
                      <option value="GP">GP</option>
                      <option value="ENT">ENT</option>
                      <option value="Cardiovascular">Cardiovascular</option>
                      <!-- Add more options as needed -->
                    </select>
                  </label>

                  <label>
                    Update
                    <textarea name="update" placeholder="What did the doctor say?" ></textarea>
                  </label>
              
                  <label>
                    Followup
                    <textarea name="followup" placeholder="What to do next?" ></textarea>
                  </label>

                  <label>
                    Next appointment date
                    <input type="date" name="nextappt" class="datestyle" required>
                  </label>
              

                <input
                  type="submit"
                  value="🚀 Create post"
                />
              </form>
        </div>

        <!-- Back to homepage -->
        <div class="cancel-create-post">
          <a href="/">Cancel! Take me back to my blog!</a>
        </div>
        
    </main>
</body>
</html>